.e-skill-top-name{
  color:#4A4A4A;
  font-family: 'Poppins', sans-serif;
}

.e-skill-nav-menue{
  color:#777777;
  font-family: 'Poppins', sans-serif;
}

.e-skill-register-btn{
  font-family: 'Poppins', sans-serif;
}