body{
  font-family:'Poppins', sans-serif ;
}
.e-skill-top-name{
  color:#4A4A4A;
  font-family: 'Poppins', sans-serif;
}

.e-skill-nav-menue{
  color:#777777;
  font-family: 'Poppins', sans-serif;
}

.e-skill-register-btn{
  font-family: 'Poppins', sans-serif;
}

.button-bg{
  background-color: rgb(247, 14, 53);
  color: white;
}

.e-skill-popular-course{
  color:#1D1D1D;
}